api/apis/business_central/vendors/wsdl/prod_vendors.wsdl

<definitions targetNamespace="urn:microsoft-dynamics-schemas/page/vendors_ubbe" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/page/vendors_ubbe">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/vendors_ubbe" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="Vendors_Ubbe">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Name_2" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Our_Account_No" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Fax_No" type="xsd:string"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Vendors_Ubbe_List">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Vendors_Ubbe" type="tns:Vendors_Ubbe"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Vendors_Ubbe_Fields">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="No"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="Name_2"/>
                    <xsd:enumeration value="Our_Account_No"/>
                    <xsd:enumeration value="Location_Code"/>
                    <xsd:enumeration value="Post_Code"/>
                    <xsd:enumeration value="Country_Region_Code"/>
                    <xsd:enumeration value="Phone_No"/>
                    <xsd:enumeration value="Fax_No"/>
                    <xsd:enumeration value="E_Mail"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Vendors_Ubbe_Filter">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Vendors_Ubbe_Fields"/>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Read">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Read_Result">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Vendors_Ubbe" type="tns:Vendors_Ubbe"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReadByRecId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReadByRecId_Result">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="Vendors_Ubbe" type="tns:Vendors_Ubbe"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReadMultiple">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Vendors_Ubbe_Filter"/>
                        <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReadMultiple_Result">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Vendors_Ubbe_List"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="IsUpdated">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="IsUpdated_Result">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetRecIdFromKey">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetRecIdFromKey_Result">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="Read">
        <part name="parameters" element="tns:Read"/>
    </message>
    <message name="Read_Result">
        <part name="parameters" element="tns:Read_Result"/>
    </message>
    <message name="ReadByRecId">
        <part name="parameters" element="tns:ReadByRecId"/>
    </message>
    <message name="ReadByRecId_Result">
        <part name="parameters" element="tns:ReadByRecId_Result"/>
    </message>
    <message name="ReadMultiple">
        <part name="parameters" element="tns:ReadMultiple"/>
    </message>
    <message name="ReadMultiple_Result">
        <part name="parameters" element="tns:ReadMultiple_Result"/>
    </message>
    <message name="IsUpdated">
        <part name="parameters" element="tns:IsUpdated"/>
    </message>
    <message name="IsUpdated_Result">
        <part name="parameters" element="tns:IsUpdated_Result"/>
    </message>
    <message name="GetRecIdFromKey">
        <part name="parameters" element="tns:GetRecIdFromKey"/>
    </message>
    <message name="GetRecIdFromKey_Result">
        <part name="parameters" element="tns:GetRecIdFromKey_Result"/>
    </message>
    <portType name="Vendors_Ubbe_Port">
        <operation name="Read">
            <input name="Read" message="tns:Read"/>
            <output name="Read_Result" message="tns:Read_Result"/>
        </operation>
        <operation name="ReadByRecId">
            <input name="ReadByRecId" message="tns:ReadByRecId"/>
            <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result"/>
        </operation>
        <operation name="ReadMultiple">
            <input name="ReadMultiple" message="tns:ReadMultiple"/>
            <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result"/>
        </operation>
        <operation name="IsUpdated">
            <input name="IsUpdated" message="tns:IsUpdated"/>
            <output name="IsUpdated_Result" message="tns:IsUpdated_Result"/>
        </operation>
        <operation name="GetRecIdFromKey">
            <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey"/>
            <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result"/>
        </operation>
    </portType>
    <binding name="Vendors_Ubbe_Binding" type="tns:Vendors_Ubbe_Port">
        <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <operation name="Read">
            <operation soapAction="urn:microsoft-dynamics-schemas/page/vendors_ubbe:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <input name="Read">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </input>
            <output name="Read_Result">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </output>
        </operation>
        <operation name="ReadByRecId">
            <operation soapAction="urn:microsoft-dynamics-schemas/page/vendors_ubbe:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <input name="ReadByRecId">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </input>
            <output name="ReadByRecId_Result">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </output>
        </operation>
        <operation name="ReadMultiple">
            <operation soapAction="urn:microsoft-dynamics-schemas/page/vendors_ubbe:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <input name="ReadMultiple">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </input>
            <output name="ReadMultiple_Result">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </output>
        </operation>
        <operation name="IsUpdated">
            <operation soapAction="urn:microsoft-dynamics-schemas/page/vendors_ubbe:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <input name="IsUpdated">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </input>
            <output name="IsUpdated_Result">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </output>
        </operation>
        <operation name="GetRecIdFromKey">
            <operation soapAction="urn:microsoft-dynamics-schemas/page/vendors_ubbe:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <input name="GetRecIdFromKey">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </input>
            <output name="GetRecIdFromKey_Result">
                <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </output>
        </operation>
    </binding>
    <service name="Vendors_Ubbe_Service">
        <port name="Vendors_Ubbe_Port" binding="tns:Vendors_Ubbe_Binding">
            <address location="http://20.151.64.156:13047/BC130/WS/BBE/Page/Vendors_Ubbe" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </port>
    </service>
</definitions>